.tasksList {
    display: flex;
}

.taskItem {
    border: 2px solid black;
}
.taskItem.hovered {
    border-color: red;
}

.TaskMap {
    width: 75%;
    height: 100vh;
}
.TaskBreakDown {
    width: 25%;
}

.taskMarker {
    border: 4px solid black;
    display: inline-block;
}
.taskMarker.showMore {
    border: 2px solid red;
    display: inline-block;
}